#clock{
    font-size: 50px !important;
    color: white;
    font-weight: bolder;
    text-align: center !important;
    margin-top: 5% !important;
    /* margin-top: 7%; */
}
body,html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/453/383/721/clock-life-timepiece-time-wallpaper-preview.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-sm-11{
    margin: auto !important;
}