#clock{
    font-size: 50px !important;
    color: white;
    font-weight: bolder;
    text-align: center !important;
    margin-top: 5% !important;
    /* margin-top: 7%; */
}
body,html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/453/383/721/clock-life-timepiece-time-wallpaper-preview.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-sm-11{
    margin: auto !important;
}
.col{
    height: 88px !important;
    width: 190px !important;
    box-shadow: 2px 0px 10px 3px rgb(92, 92, 92) inset;;
    margin-top: 2% !important;
}
.col-sm-11{
    box-shadow: 2px 4px 20px 7px rgb(141, 140, 140) ;
    margin: auto;
    margin-top: 17%;
    padding-top: 2%;
    padding-bottom: 5%;
}